Django>=5.0.0  # Core framework
djangorestframework>=3.14.0  # REST API
django-cors-headers>=4.0.0  # Frontend communication
gunicorn>=21.0.0  # Production server
whitenoise>=6.5.0  # Static file serving
django-storages>=1.14.0  # File storage abstraction
boto3>=1.28.0  # AWS S3 storage
python-dotenv>=1.0.0  # Environment variables
opencv-python>=4.7.0  # Video processing (cv2)
numpy>=1.23.0  # Required by OpenCV and general processing
ffmpeg-python>=0.2.0  # FFmpeg Python interface
requests>=2.31.0  # For downloading FFmpeg
tqdm>=4.65.0  # Progress bars
faster-whisper==1.2.0  # Speech to text
--index-url https://download.pytorch.org/whl/cu126
torch==2.8.0+cu126
torchvision==0.23.0+cu126
mediapipe==0.10.21