    <!doctype html>
    <html lang="en">
{% load static %}
    <head>
    <meta charset="utf-8"/>
    <link rel="icon" href="{% static 'favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="RepLogo - Fast and accurate logo replacement in your documents"/>
    <link rel="apple-touch-icon" href="{% static 'logo192.png' %}"/>
    <link rel="manifest" href="{% static 'manifest.json' %}"/>
    <title>RepLogo</title>
    <script defer="defer" src="{% static 'js/main.d5f37f01.js' %}">
    </script>
    <link href="{% static 'css/main.e6c13ad2.css' %}" rel="stylesheet">
    </head>
    <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
    </div>
    </body>

</html>